
        <!--Footer-->
        <div class="w3-col w3-white myfont1" style="min-height:200px; padding-top:50px; padding-bottom: 50px;">

            <div class="w3-col l3 s12 m6 w3-padding">


                <img src="images/logo.png?2" style="max-width:100%; height:80px" />

                <div>
                    <p class="w3-padding w3-text-blue">Sign Up for our NewsLetter</p>
                    <input placeholder="Email" class="w3-input w3-border" />
                    <a class="w3-btn w3-blue w3-hover-blue-grey w3-text-white" style="width:100%"> Sign Up</a>
                </div>


            </div>


            <div class="w3-col l3 s12 m6 w3-padding">

                <p> 
                    <i class="fa-solid fa-phone-flip w3-text-blue"></i> <span style="margin-left:10px"> <b> 410-992-1923 </b>  </span>
                </p>
                

                <p style="margin-top:20px">
                    <i class="fa-solid fa-phone-flip w3-text-blue"></i> <span style="margin-left:10px"> <b> 410-992-1923 </b>  </span>
                </p>

                <p style="margin-top:20px">
                    <i class="fa-solid fa-phone-flip w3-text-blue"></i> <span style="margin-left:10px"> <b> 410-992-1923 </b>  </span>
                </p>

                <p style="margin-top:20px">
                    <i class="fa-solid fa-phone-flip w3-text-blue"></i> <span style="margin-left:10px"> <b> 410-992-1923 </b>  </span>
                </p>
                

            </div>

            <div class="w3-col l3 s12 m6 w3-padding">

                <p> 
                    <a href="about.html"> About </a>
                </p>

                <p style="margin-top:20px"> 
                    <a href="programs.html"> Programs </a>
                </p>

                <p style="margin-top:20px"> 
                    <a href="getinvolved.html"> Get Involved</a>
                </p>

                <p style="margin-top:20px"> 
                    <a href="#"> Language Prose </a>
                </p>

                <p style="margin-top:20px"> 
                    <a href="blog.html">Blog  </a>
                </p>

                <p style="margin-top:20px"> 
                    <a href=""> New American Network</a>
                </p>

                <p style="margin-top:20px"> 
                    <a href=""> Contact</a>
                </p>

            </div>

            <div class="w3-col l3 s12 m6 w3-padding">

                 <a href="donate.html" class="w3-btn w3-blue w3-text-white w3-hover-blue-grey" style="width:140px; max-width:100%"> <b> DONATE </b></a>

                 <p  style="margin-top:40px"> 
                    <i class="fa-brands fa-facebook w3-text-blue w3-large"></i> &nbsp;
                    <i class="fa-brands fa-instagram w3-text-blue w3-large"></i> &nbsp;
                    <i class="fa-brands fa-twitter w3-text-blue w3-large"></i> &nbsp;
                    <i class="fa-brands fa-linkedin w3-text-blue w3-large"></i> &nbsp; 
                 </p>
                
            </div>
            
        </div>
        <!--End Footer-->

        <!--Sub Footer-->
        <div class="w3-col w3-blue-grey myfont1" style="min-height:40px; padding:15px">
             &copy 2022 <a href="#"> Privacy Policy </a>
        </div>
        <!--End Sub Footer-->