<!--Main Menu Desktop-->
<div class="w3-hide-small w3-hide-medium">
  <div
    class="w3-col w3-white w3-card-2"
    style="min-height: 140px; position: fixed; z-index:200000000"
  >
    <div class="w3-col l3 m3 s3 w3-center" style="padding: 30px">
      <a href="index.html">
        <img src="images/logo.svg" style="max-width: 100%; height: 120px"
      /></a>
    </div>

    <div class="w3-col l8 m8 s8 w3-padding-top">
      <div
        class="w3-col w3-border-bottom w3-right-align"
        style="height: 70px; padding: 20px"
      >
        <i class="fa-solid fa-language w3-text-blue w3-large"></i>
        <span class="myfont5 w3-small"> Select Language </span>

        <select
          class="w3-small w3-round myfont1"
          style="margin-right: 50px; width: 100px"
        >
          <option>English</option>
        </select>

        <a style="text-decoration:none" href="mailto:info@cconnectmd.com"><i class="fa-solid fa-envelope w3-text-blue w3-small"></i>
        <span class="myfont5 w3-small" style="margin-right: 50px">
          Contact
        </span></a>

        <i class="fa-brands fa-facebook w3-text-blue w3-small"></i>
        <i class="fa-brands fa-instagram w3-text-blue w3-small"></i>
        <i class="fa-brands fa-twitter w3-text-blue w3-small"></i>
        <i class="fa-brands fa-linkedin w3-text-blue w3-small"></i>
      </div>

      <div class="w3-col" style="height: 70px; padding-top: 10px">
        <div class="w3-bar">
          <a
            href="index.html"
            class="w3-bar-item w3-button w3-col l2 w3-left-align myfont5 w3-small"
            >HOME</a
          >
          <div class="w3-dropdown-hover w3-col l2">
            <button class="w3-button myfont5 w3-small">
              ABOUT <i class="fa-solid fa-chevron-down w3-text-blue"></i>
            </button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="bod.html" class="w3-bar-item w3-button myfont5"
                >About the founder</a
              >
            </div>
          </div>
          <a
            href="program_services.html"
            class="w3-bar-item w3-button w3-col l2 w3-left-align myfont5 w3-small"
            >SERVICES</a
          >
          <div class="w3-dropdown-hover w3-col l2">
            <button class="w3-button myfont5 w3-small">
              PROGRAM <i class="fa-solid fa-chevron-down w3-text-blue"></i>
            </button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a
                href="program_immigration_assistance.html"
                class="w3-bar-item w3-button myfont5"
                >Immigration Assistance</a
              >
              <a
                href="program_employment_services.html"
                class="w3-bar-item w3-button myfont5"
              >
                Employment Services
              </a>
              <a
                href="program_case_management.html"
                class="w3-bar-item w3-button myfont5"
              >
                Case Management
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-col w3-white" style="min-height: 140px">
    <br />
    &nbsp;
  </div>
</div>
<!-- End Main Menu Desktop-->
