      <!-- Program Pre Footer-->
      <div class="w3-col w3-light-grey w3-padding w3-margin-top" style="min-height:400px">

        <div class="w3-col l6 s12 m6"  style="padding:5px">

            <img src="images/home1.jpg?2" style="width:100%" />

        </div>
        <div class="w3-col l1 s12 m6"  style="padding:5px">
            <br />
        </div>
        <div class="w3-col l4 s12 m6" style="padding:5px">

            <br /><br />

            <h3 class="w3-text-blue myfont1">Want to help immigrants shine?</h3>
            <p class="myfont2">
                Our volunteers play a critical role in helping us light the path for New Americans. As trusted members of the community — and often immigrants themselves — they ensure New Americans receive necessary support and services.
             </p>

            <p class="w3-margin-top">
                <br />
                <a href="tel:4437631729" class="w3-btn w3-blue myfont1"> JOIN OUR COMMUNITY </a>
            </p>

        </div>
        <div class="w3-col l1 s12 m6"  style="padding:5px">
            <br />
        </div>
        
    </div>
    <!-- End of Program Pre Footer -->